<template>
  <div>
    <!-- Filtrovanie -->
    <div class="row mb-3">
      <div class="col-md-4">
        <input v-model="filters.name" class="form-control" type="text" placeholder="Filter by name...">
      </div>
      <div class="col-md-4">
        <input v-model="filters.registration_number" class="form-control" type="text" placeholder="Filter by registration number...">
      </div>
      <div class="col-md-4">
        <select v-model="filters.is_registered" class="form-select">
          <option value="">Is Registered...</option>
          <option value="1">Yes</option>
          <option value="0">No</option>
        </select>
      </div>
    </div>

    <!-- Zoznam áut -->
    <table class="table">
      <thead>
        <tr>
          <th @click="sort('name')">Name <span v-if="currentSortColumn === 'name'">{{ currentSortOrder === 'asc' ? '↓' : '↑' }}</span></th>
          <th @click="sort('registration_number')">Registration Number <span v-if="currentSortColumn === 'registration_number'">{{ currentSortOrder === 'asc' ? '↓' : '↑' }}</span></th>        
          <th @click="sort('is_registered')">Is Registered <span v-if="currentSortColumn === 'is_registered'">{{ currentSortOrder === 'asc' ? '↓' : '↑' }}</span></th>
          <th>Actions</th>
        </tr>
      </thead>
      <tbody>
        <tr v-for="car in filteredCars" :key="car.id">
          <td>{{ car.name }}</td>
          <td>{{ car.registration_number }}</td>
          <td>{{ car.is_registered ? 'Yes' : 'No' }}</td>
          <td>
            <!-- Tlačítka akcií -->
            <a @click="viewCar(car)" class="btn btn-info me-2">View</a>
            <a :href="`/cars/${car.id}/edit`" class="btn btn-warning me-2">Edit</a>
            <button @click="deleteCar(car)" class="btn btn-danger">Delete</button>
          </td>
        </tr>
      </tbody>
    </table>
  </div>

  <!-- Car Detail Modal -->
  <div class="modal fade" id="carDetailModal" tabindex="-1" aria-labelledby="carDetailModalLabel" aria-hidden="true">
    <div class="modal-dialog">
      <div class="modal-content">
        <div class="modal-header">
          <h5 class="modal-title" id="carDetailModalLabel">Car Details</h5>
          <button type="button" class="btn-close" data-bs-dismiss="modal" aria-label="Close"></button>
        </div>
        <div class="modal-body">
          <p v-if="selectedCar"><strong>Name:</strong> {{ selectedCar.name }}</p>
          <p v-if="selectedCar"><strong>Registration Number:</strong> {{ selectedCar.registration_number }}</p>
          <p v-if="selectedCar"><strong>Is Registered:</strong> {{ selectedCar.is_registered ? 'Yes' : 'No' }}</p>
          <p v-if="selectedCar && selectedCar.parts.length">
            <strong>Parts:</strong>
            <ul>
                <li v-for="part in selectedCar.parts" :key="part.id">
                <a :href="`/parts/${part.id}`" target="_blank">{{ part.name }}</a>
                </li>
            </ul>
          </p>          
        </div>
        <div class="modal-footer">
          <button type="button" class="btn btn-secondary" data-bs-dismiss="modal">Close</button>
        </div>
      </div>
    </div>
  </div>

</template>

<script>
export default {
  props: {
    initialCars: Array,
  },
  data() {
    return {
      filters: {
        name: '',
        registration_number: '',
        is_registered: '',
      },
      cars: this.initialCars,
      currentSortColumn: 'name',
      currentSortOrder: 'asc',
      selectedCar: null,
    };
  },
  computed: {
    filteredCars() {
        // Filtrovanie
        let filtered = this.cars.filter(car => {
        return (
            (this.filters.name === '' || car.name.toLowerCase().includes(this.filters.name.toLowerCase())) &&
            (this.filters.registration_number === '' || car.registration_number.toLowerCase().includes(this.filters.registration_number.toLowerCase())) &&
            (this.filters.is_registered === '' || car.is_registered.toString() === this.filters.is_registered)
        );
        });

        // Triedenie
        if (this.currentSortColumn) {
        filtered.sort((a, b) => {
            let modifier = 1;
            if (this.currentSortOrder === 'desc') modifier = -1;

            if (a[this.currentSortColumn] < b[this.currentSortColumn]) return -1 * modifier;
            if (a[this.currentSortColumn] > b[this.currentSortColumn]) return 1 * modifier;
            return 0;
        });
        }

        return filtered;
    },
  },
  methods: {
        deleteCar(car) {
            if (confirm(`Are you sure you want to delete ${car.name}?`)) {
                axios.delete(`/cars/${car.id}`)
                .then(response => {
                    // Odstraníme auto z našeho lokálního seznamu po úspěšném smazání
                    this.cars = this.cars.filter(c => c.id !== car.id);
                    // Tady můžete přidat toast nebo jinou notifikaci o úspěchu
                    alert(response.data.message);
                })
                .catch(error => {
                    console.error('There was an error deleting the car:', error.response);
                    // Tady můžete zobrazit chybovou zprávu
                    alert('Failed to delete the car.');
                });
            }
        },
        sort(column) {
            if (this.currentSortColumn === column) {
            // Zmeniť smer triedenia
            this.currentSortOrder = this.currentSortOrder === 'asc' ? 'desc' : 'asc';
            } else {
            this.currentSortColumn = column;
            this.currentSortOrder = 'asc';
            }
        },    
        viewCar(car) {
            // naplní dáta do modálneho okna a potom ho zobrazí
            this.selectedCar = car;
            new bootstrap.Modal(document.getElementById('carDetailModal')).show();
        },            
  }

};
</script>

