<template>
    <div class="resources-drag-and-drop">
        <label class="resources-drag-and-drop--label" for="resources-drag-and-drop">            
            <input type="file" class="resources-drag-and-drop--label--input" :accept="acceptRules.input" ref="selection" multiple id="resources-drag-and-drop" @change="embeddedFiles()">
            
            <div class="resources-drag-and-drop--label--area" v-cloak @drop.prevent="movedFiles( $event )" @dragover.prevent>
                <h3>Presuňte súbory na vyhradenú plochu</h3>
                <p>
                    <small>alebo</small> <br>
                    <h6 style="text-decoration: underline; cursor: pointer;">ich vyberte z Vášho zariadenia</h6>
                </p>
                <p>
                    <small>
                        Maximálna veľkosť jedného súboru je <strong>{{ formatBytes( maxSize ) }}</strong>. <br>
                        Povolené formáty súborov sú: <strong>.jpg</strong>, <strong>.jpeg</strong>, <strong>.png</strong>
                    </small>
                </p>
            </div>
        </label>
    </div>
</template>

<script>
    export default {
        props: {
            accept: {
                type: Array
            },
            maxSize: {
                type: Number
            }
        },
        data() {
            return {
                item: null,
            }
        },
        computed: {
            acceptRules() {
                let rules = {
                    input: "",
                    mimes: "",
                }

                this.accept.forEach(( rule, index ) => {
                    index === 0 ? rules.input += '.' + rule.split('/')[1] : rules.input += ',.' + rule.split('/')[1]
                    index === 0 ? rules.mimes += rule.split('/')[1] : rules.mimes += ',' + rule.split('/')[1]
                })

                return rules
            }
        },
        methods: {
            movedFiles( event ) {
                let files = event.dataTransfer.files

                if ( !files ) return

                ([...files]).forEach( file => {
                    this.uploadFile( file )
                })
            },
            embeddedFiles() {
                let files = this.$refs.selection.files

                if ( !files ) return

                Object.entries( files ).forEach(( [key, file] ) => {
                    this.uploadFile( file )
                })
            },
            uploadFile( file ) {
                if ( !file ) return alert("Súbor je chybný alebo nespľňa niektorú z podmienok pre nahranie.")

                if ( !this.accept.includes( file.type )) return alert("Súbor nemá povolený formát.")

                if ( file.size > this.maxSize ) return alert("Súbor je väčší ako je maximálna povolená veľkosť.")
                
                let data = new FormData()
                data.append('file', file)
                data.append('max', this.maxSize)
                data.append('mimes', this.acceptRules.mimes)

                axios.post('/api/resources', data, { 
                    headers: { 'content-type': 'multipart/form-data' }
                }).then( response => {
                    console.log( response.data )
                }).catch( errors => {
                    console.log( errors.response.data )
                })
            },
            formatBytes(bytes, decimals = 2) {
                if (!+bytes) return '0 Bytes'
            
                const k = 1024
                const dm = decimals < 0 ? 0 : decimals
                const sizes = ['Bytes', 'KB', 'MB', 'GB', 'TB', 'PB', 'EB', 'ZB', 'YB']
            
                const i = Math.floor(Math.log(bytes) / Math.log(k))
            
                return `${parseFloat((bytes / Math.pow(k, i)).toFixed(dm))} ${sizes[i]}`
            }
        }
    }
</script>

<style lang="scss" scoped>
    .resources-drag-and-drop {
        display: block;
        text-align: center;
        border: 1px dashed black;
        margin: 24px 0;
        padding: 32px;

        &--label {
            position: relative;
            display: block;

            &--input {
                position: absolute;
                top: 0;
                left: 0;
                width: 0;
                height: 0;
                opacity: 0;
                visibility: hidden;
            }
        }
    }
</style>