<template>
  <div>
    <!-- Filtrovanie -->
    <div class="row mb-3">
      <div class="col-md-4">
        <input v-model="filters.partName" class="form-control" type="text" placeholder="Filter by part name...">
      </div>
      <div class="col-md-4">
        <input v-model="filters.serialNumber" class="form-control" type="text" placeholder="Filter by serial number...">
      </div>
      <div class="col-md-4">
        <input v-model="filters.carName" class="form-control" type="text" placeholder="Filter by car name...">
      </div>
    </div>

    <!-- Zoznam dielov -->
    <table class="table">
      <thead>
        <tr>
          <th @click="sort('name')">Part Name <span v-if="currentSortColumn === 'name'">{{ currentSortOrder === 'asc' ? '↓' : '↑' }}</span></th>
          <th @click="sort('serialnumber')">Serial Number <span v-if="currentSortColumn === 'serialnumber'">{{ currentSortOrder === 'asc' ? '↓' : '↑' }}</span></th>
          <th @click="sort('carName')">Car Name <span v-if="currentSortColumn === 'carName'">{{ currentSortOrder === 'asc' ? '↓' : '↑' }}</span></th>
          <th>Actions</th>
        </tr>
      </thead>
      <tbody>
        <tr v-for="part in filteredParts" :key="part.id">
          <td>{{ part.name }}</td>
          <td>{{ part.serialnumber }}</td>
          <td>{{ part.car.name }}</td>
          <td>
            <!-- Tlačítka akcií -->
            <button @click="viewPart(part)" class="btn btn-info me-2">View</button>
            <a :href="`/parts/${part.id}/edit`" class="btn btn-warning me-2">Edit</a>
            <button @click="deletePart(part)" class="btn btn-danger">Delete</button>
          </td>
        </tr>
      </tbody>
    </table>
  </div>

  <!-- Part Detail Modal -->
  <div class="modal fade" id="partDetailModal" tabindex="-1" aria-labelledby="partDetailModalLabel" aria-hidden="true">
    <div class="modal-dialog">
        <div class="modal-content">
        <div class="modal-header">
            <h5 class="modal-title" id="partDetailModalLabel">Part Details</h5>
            <button type="button" class="btn-close" data-bs-dismiss="modal" aria-label="Close"></button>
        </div>
        <div class="modal-body">
            <p v-if="selectedPart"><strong>Name:</strong> {{ selectedPart.name }}</p>
            <p v-if="selectedPart"><strong>Serial Number:</strong> {{ selectedPart.serialnumber }}</p>
            <p v-if="selectedPart"><strong>Car Name:</strong> {{ selectedPart.car.name }}</p>
            <!-- Další detaily dielu -->
        </div>
        <div class="modal-footer">
            <button type="button" class="btn btn-secondary" data-bs-dismiss="modal">Close</button>
        </div>
        </div>
    </div>
  </div>

</template>

<script>
export default {
  props: {
    initialParts: Array,
  },
  data() {
    return {
      filters: {
        partName: '',
        serialNumber: '',
        carName: '',
      },
      parts: this.initialParts,
      currentSortColumn: 'name',
      currentSortOrder: 'asc',
      selectedPart: null,
    };
  },
  computed: {
    filteredParts() {
        let sortedParts = this.parts.filter(part => {
        return (
            (this.filters.partName === '' || part.name.toLowerCase().includes(this.filters.partName.toLowerCase())) &&
            (this.filters.serialNumber === '' || part.serialnumber.toLowerCase().includes(this.filters.serialNumber.toLowerCase())) &&
            (this.filters.carName === '' || part.car.name.toLowerCase().includes(this.filters.carName.toLowerCase()))
        );
        });

        // triedenie
        if (this.currentSortColumn) {
        sortedParts.sort((a, b) => {
            let aVal = (this.currentSortColumn === 'carName') ? a.car.name : a[this.currentSortColumn];
            let bVal = (this.currentSortColumn === 'carName') ? b.car.name : b[this.currentSortColumn];
            
            let modifier = this.currentSortOrder === 'asc' ? 1 : -1;
            return aVal > bVal ? modifier : -1 * modifier;
        });
        }
        return sortedParts;
    },
  },
  methods: {
    deletePart(part) {
        if (confirm(`Are you sure you want to delete ${part.name}?`)) {
            axios.delete(`/parts/${part.id}`)
            .then(response => {
            console.log('Delete response:', response);
            this.parts = this.parts.filter(p => p.id !== part.id);
            // Další kód pro úspěšné smazání
            })
            .catch(error => {
            console.error('Delete error:', error.response);
            // Další kód pro chybu
            });
        }
    },
    sort(column) {
        if (this.currentSortColumn === column) {
        this.currentSortOrder = this.currentSortOrder === 'asc' ? 'desc' : 'asc';
        } else {
        this.currentSortColumn = column;
        this.currentSortOrder = 'asc';
        }
    },
    viewPart(part) {
        this.selectedPart = part;
        new bootstrap.Modal(document.getElementById('partDetailModal')).show();
        },    
    }
};
</script>
